
@{
    ViewBag.Title = "Aanmelden";
}

<h2>Aanmelden</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Handmatig", "Index", "Handmatig")</li>
        <li>@Html.ActionLink("Importeren", "Index", "Importeren")</li>
        <li>@Html.ActionLink("Sluiten", "Index", "Sluiten")</li>
    </ul>
</div>
