
@{
    ViewBag.Title = "Basisgegevens";
}

<h2>Basisgegevens</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Speler", "Index", "Speler")</li>
        <li>@Html.ActionLink("School", "Index", "School")</li>
        <li>@Html.ActionLink("Toernooien", "Index", "Toernooien")</li>
    </ul>
</div>

