
@{
    ViewBag.Title = "Wedstrijden";
}

<h2>Wedstrijden</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Toernooioverzicht", "Index", "Toernooioverzicht")</li>
        <li>@Html.ActionLink("UitslagenBeheren", "Index", "UitslagenBeheren")</li>
        <li>@Html.ActionLink("IndelenVolgendeRonde", "Index", "IndelenVolgendeRonde")</li>
    </ul>
</div>

